PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# MySQL 8 Database
DATABASE_URL="mysql://reachinbox_user:reachinbox_password@localhost:3307/reachinbox_scheduler"

# Redis
REDIS_URL="redis://localhost:6379"

# Elasticsearch
ELASTICSEARCH_URL="http://localhost:9200"
